
.dark body{
  color: #fff;
}

.dark ::selection {
  background-color: #fd0;
}

html, body {
  --at-apply: font-sans;
  background-color: var(--c-bg-base);
  color: var(--c-text-base);
}

.prose-code code, kbd, samp, pre{
  --at-apply: font-mono
}

